html
{
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
}

div
{
 text-align: center;
 padding: 5px;
}

#name{
    background-color: rgb(14, 133, 237);
    text-align: center;
}

